.cont_videos{
    /* background-color: red; */
    width: 100%;

}
.videos{
    /* background-color: blue; */
    max-width: 100%;
    display: grid;
    text-align: center;
    padding: 0px !important;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}
.vid{
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px !important;
}
.boton{
    margin-left: 5%;
    margin-top: 20px;
}
.bot{
    background-color: yellow !important;
    color: black;
    border-radius: 10%;

}