.message_guest{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}
.message_user{
    margin-left: auto;
    
    text-align: left !important;
}
.message_userCard{
    background-color: rgb(236, 225, 61) !important;
    color: rgb(24, 24, 24);
}
.message_guestCard{
    background-color: rgb(41, 40, 40) !important;
    color: rgb(228, 225, 225) !important;
}